{
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
    "experimentalObjectRestSpread": true
  }
  },
  "plugins": ["cypress", "react"],
  "extends": ["eslint:recommended",
    "plugin:react/recommended","plugin:cypress/recommended"]
}
